<div *ngIf="chartGroups() as groups; else loading">
  <div *ngFor="let g of groups; let i = index" class="mb-6">
    <h3 class="text-lg font-semibold mb-2">{{ g.title }}</h3>
    <div class="card p-4 bg-white/80 rounded shadow-sm">
        <div class="chart-container">

            <canvas baseChart
                    *ngIf="g.chartData"
                    [data]="g.chartData"
                    [options]="chartOptions"
                    [type]="'bar'"
                     height="150">
            </canvas>

        </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <p class="text-gray-500">Carregando gráficos...</p>
</ng-template>