<p-tabs value="0">
  <p-tablist>
    <p-tab value="0">Geral</p-tab>
    <p-tab value="1">Gráficos</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <div>
        <h2 class="text-2xl font-bold mb-4">Dashboard</h2>
        <div class="cards grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
          *ngIf="dashboardService.stats() as stats">
          <div class="card bg-white shadow p-4 rounded" *ngFor="let key of statKeys">
            <h3 class="font-semibold">{{ key }}</h3>
            <p class="text-2xl font-bold">{{ stats[key] }}</p>
          </div>
        </div>

        <p *ngIf="!dashboardService.stats()">Carregando estatísticas...</p>

      </div>
    </p-tabpanel>
    <p-tabpanel value="1">
      <p class="m-0">
        Vou implementar os gráficos aqui em breve
      </p>
    </p-tabpanel>
    
  </p-tabpanels>
</p-tabs>